html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}

*,
*:before,
*:after
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    background-color: #060C10;
    color: #FFFFFF;
    font-family: Arial, Calibri, Helvetica, sans-serif;
}

.body-block
{
    display: block;
    max-width: 1024px;
    margin: 0 auto;
}

h1
{
    display: block;
    color: #FCB720;
}

a
{
    color: #FFFFFF;
}
